
$color-background: #fff;
$color-background-d: #f2f2f2;
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #409eff;
$color-sub-theme: #36465d;
$color-text: #444444;
$color-text-l: #757575;
$color-text-ll: #8f8f8f;
$color-text-lll: #a1a1a1;
$color-border:#d9d9d9;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

